<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=width, height=height, initial-scale=1">
  <title>Stock Chart</title>

  <!--material CSS-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
  <!--material icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- angular, angular material js-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!--D3 & linechart-->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="line-chart.min.js"></script>
  <!--controllers-->
  <script src="controllers.js"></script>
</head>
<body ng-app="stockChartApp" id="main">

  <div ng-controller="StockChartCtrl as stockChartCtrl">
    <md-content layout="column">
      <md-content layout="row" layout-sm="column">
        <md-input-container style="padding-bottom:2px">
          <label>Stock Symbol</label>
          <input type="text" id="symbolInput" ng-model="symbol" ng-model-options="{updateOn: 'blur'}" ng-change="symbolChange()"></input>
        </md-input-container>
        <md-menu style="padding-bottom:2px; padding-top:2px">
          <md-button ng-click="stockChartCtrl.openMenu($mdOpenMenu, $event)">
            {{timeframe}}<md-icon md-font-library="material-icons">arrow_drop_down</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item ng-repeat="tf in ['1 Month', '2 Months', '3 Months', '6 Months', '10 Months']">
              <md-button ng-click="$parent.$parent.timeframe = tf">
                {{tf}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-content>
      <md-content layout="row" layout-align="center" ng-controller="InnerChartCtrl">
        <linechart data="dataForChart" options="chartOptions"></linechart>
      </md-content>
    </md-content>
  </div>

  <script>

    // update on Enter keypress
    $('#symbolInput').on('keypress', function(event) {
      if (event.key === 'Enter') {
        $('#symbolInput').trigger('blur');
      }
    });

  </script>

</body>
</html>
