<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stock Chart</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="line-chart.min.js"></script>
  <script src="controllers.js"></script>
</head>
<body ng-app="stockChartApp" id="main">

  <div ng-controller="StockChartCtrl">

    <input type="text" id="startDateInput" ng-model="startDate" ng-model-options="{updateOn: 'blur'}" ng-change="dateChange()"></input>
    <input type="text" id="endDateInput" ng-model="endDate" ng-model-options="{updateOn: 'blur'}" ng-change="dateChange()"></input><br>
    <input type="text" id="symbolInput" ng-model="symbol" ng-model-options="{updateOn: 'blur'}" ng-change="symbolChange()"></input>

    <div ng-controller="InnerChartCtrl">
      <linechart data="dataForChart" options="chartOptions"></linechart>
    </div>

  </div>

  <script>

    var updateClosePrices = function() {

      var appElement = document.getElementById('main');
      var $scope = angular.element(appElement).scope();

      // build a query string to get stock data from yahoo finance
      var queryString = 'select * from yahoo.finance.historicaldata where symbol = "' + $scope.$$childHead.symbol +
        '" and startDate = "' + $scope.$$childHead.startDate +
        '" and endDate = "' + $scope.$$childHead.endDate + '"';
      var queryString = encodeURI(queryString).replace(/=/g, '%3D');
      var queryUrl = 'https://query.yahooapis.com/v1/public/yql?q=' + queryString +
        '&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=';

      // retrieve the stock data and change it in the angular model
      $.ajax(queryUrl).done(function(data) {
        if (!data.query.results) {
          showErrorMessage();
          return;
        }
        var dataForChart = [];
        var quotes = data.query.results.quote
        quotes.reverse();
        quotes.forEach(function(element, index) {
          dataForChart.push({x: index, y: parseFloat(element.Close)});
        });
        $scope.$apply(function() {
          $scope.$$childHead.dataForChart = dataForChart;
        });
      });
    };

    var showErrorMessage = function() {
      alert('Could not get data from the server: The selected time frame may be too long or too short.')
    };

    // add event listeners
    ['#startDateInput', '#endDateInput', '#symbolInput'].forEach(function(element) {
      $(element).on('keypress', function(event) {
        if (event.key === 'Enter') {
          $(element).trigger('blur');
        }
      });
    });

    $(document).ready(updateClosePrices);

  </script>

</body>
</html>
